 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 806px;
}

.u-section-1 .u-text-1 {
  line-height: 52.8px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 740px;
  font-style: italic;
  margin: 30px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 30px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 521px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-family: Raleway, sans-serif;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 3rem;
  font-style: normal;
  margin: 8px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 11px auto 0;
}

.u-section-1 .u-line-1 {
  height: 3px;
  transform-origin: left center;
  margin: 30px 0 0 auto;
}

.u-section-1 .u-text-6 {
  line-height: 25.6px;
  margin: 10px 0 0;
}

.u-section-1 .u-line-2 {
  height: 3px;
  transform-origin: left center;
  margin: 13px 0 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 11px 0 0;
}

.u-section-1 .u-line-3 {
  height: 3px;
  transform-origin: left center;
  margin-bottom: 0;
  margin-top: 13px;
}

.u-section-1 .u-text-8 {
  margin: 13px 0 0;
}

.u-section-1 .u-line-4 {
  transform-origin: left center;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-text-9 {
  margin: 13px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 2px;
  border-style: solid;
  font-weight: 700;
  margin: 30px auto 0;
  padding: 9px 53px 11px 51px;
}

.u-section-1 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 514px;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  font-family: Raleway, sans-serif;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  font-size: 3rem;
  font-style: normal;
  margin: 8px auto 0;
}

.u-section-1 .u-text-12 {
  margin: 11px auto 0;
}

.u-section-1 .u-line-5 {
  height: 3px;
  transform-origin: left center;
  margin: 30px 0 0 auto;
}

.u-section-1 .u-text-13 {
  line-height: 25.6px;
  margin: 10px 0 0;
}

.u-section-1 .u-line-6 {
  height: 3px;
  transform-origin: left center;
  margin: 13px 0 0 auto;
}

.u-section-1 .u-text-14 {
  margin: 11px 0 0;
}

.u-section-1 .u-line-7 {
  height: 3px;
  transform-origin: left center;
  margin-bottom: 0;
  margin-top: 13px;
}

.u-section-1 .u-text-15 {
  margin: 13px 0 0;
}

.u-section-1 .u-line-8 {
  transform-origin: left center;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-text-16 {
  margin: 13px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  letter-spacing: 2px;
  border-style: solid;
  font-weight: 700;
  margin: 30px auto 0;
  padding: 9px 53px 11px 51px;
}

.u-section-1 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 422px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-17 {
  font-weight: 400;
  font-family: Raleway, sans-serif;
  margin: 0 auto;
}

.u-section-1 .u-text-18 {
  font-size: 3rem;
  font-style: normal;
  margin: 8px auto 0;
}

.u-section-1 .u-text-19 {
  margin: 11px auto 0;
}

.u-section-1 .u-line-9 {
  height: 3px;
  transform-origin: left center;
  margin: 30px 0 0 auto;
}

.u-section-1 .u-text-20 {
  line-height: 25.6px;
  margin: 10px 0 0;
}

.u-section-1 .u-line-10 {
  height: 3px;
  transform-origin: left center;
  margin: 13px 0 0 auto;
}

.u-section-1 .u-text-21 {
  margin: 11px 0 0;
}

.u-section-1 .u-line-11 {
  height: 3px;
  transform-origin: left center;
  margin-bottom: 0;
  margin-top: 13px;
}

.u-section-1 .u-text-22 {
  margin: 13px 0 0;
}

.u-section-1 .u-line-12 {
  transform-origin: left center;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-text-23 {
  margin: 13px 0 0;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 2px;
  border-style: solid;
  font-weight: 700;
  margin: 30px auto 0;
  padding: 9px 53px 11px 51px;
}

.u-section-1 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 430px;
  }

  .u-section-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-line-4 {
    margin-right: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 424px;
  }

  .u-section-1 .u-line-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-line-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-line-8 {
    margin-right: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 348px;
  }

  .u-section-1 .u-line-9 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-line-10 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-line-12 {
    margin-right: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}