.footer-container {
    text-align: center;
    background-color: transparent;
    color: #6c757d;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  
  .footer-content {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
  }
  
  .footer-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-column {
    flex: 1;
    min-width: 250px;
    margin: 15px;
    text-align: left;
  }
  
  .footer-title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .input {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  
  .input-container {
    position: relative;
    display: flex;
    width: 100%;
  }
  
  .input-field {
    padding: 15px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: #6c757d;
    outline: none;
  }
  
  .input-field-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .submit-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .submit-btn {
    border: none;
    border-radius: 5px;
    background-color: #a9dac4;
    padding: 12px 20px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #7bb99d;
  }
  
  .submit-btn-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  @media (max-width: 768px) {
    .footer-grid {
      flex-direction: column;
    }
  
    .footer-column {
      margin: 10px 0;
    }
  }
  