@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Markazi+Text:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family="ABeeZee":ital@0;1&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
.intro {
  width: 100%;
  height: 100%;
  background-color: #fcfcff6d;
  display: flex;
  flex-direction: column;
  /* Default layout for smaller screens */
  align-items: center;
  padding: 30px;
  border: 1px none #ccc;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);

}
.dBTitle{font-family:"Amiri Quran";
  font-size: 25px;
  margin-top: 15px; color:white}
.dSTitle{font-family:"ABeeZee";
  font-size: 18px;
  font-style: italic;margin-bottom: 18px;color:white
}
.localisation{font-family:"ABeeZee";
  font-size: 25px;
  font-style: italic;
  /* color:  #394197; */
  color: rgba(152, 194, 175, 0.298);}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.text-container {
  flex: 1;
  max-width: 600px;
  margin-bottom: 20px;
}

.map-container {
  flex: 1;
  height: 100%;
  width: 100%;
  /* Ensure map takes full width on smaller screens */
}

h1 {
  text-decoration: none;
  font-family: Markazi ;
  font-size: 25px;
  padding-bottom: 25px;
}
p{  font-family: "Amiri Quran", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
}

/* Media query for larger screens (landscape mode) */
@media (min-width: 769px) {
  .Introduce {
    flex-direction: row;
    /* Switch to row layout for larger screens */
    justify-content: space-between;
    align-items: center;
  }

  .text-container {
    margin-right: 20px;
  }

  .map-container {
    flex-grow: 1;
    /* Give map more space on larger screens */
  }
}