@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: -1 30px;
    /* Adjust margin as needed */
}
.converter-title{font-family:"ABeeZee";
font-size: 20px;
font-style: italic;}
.text-container {
    margin-top: 15px;
    flex: 1;
    margin-right: 2px;
    margin-bottom: 0;
    color: #a3a5bc;
    /* Adjust spacing between text and image */
}

.image-container {
    flex: 1;
}
.input {
    position: relative;
    display: flex;
    width: 600px;
    margin: 0 10px;
}

.input-container {
    position: relative;
    display: flex;
    width: 100%;
    margin: 10px;
}

.input-field {
    padding: 24px;
    background-color: #fff;
    border: none;
    border-radius: 2px;
    width: calc(100% - 150px); /* Adjust the width of the input field minus the width of the button */
    color: #b7bcdd;
    outline: none;
    z-index: 0;
    -webkit-tap-highlight-color: transparent;
    line-height: 1;

    &::-webkit-input-placeholder {
        color: #b7bcdd;
        line-height: 1;
        padding-top: 2px;
    }

    &:hover+.input-field-shadow {
        box-shadow: 0px 2px 10px #d8ddec;
    }

    &:focus+.input-field-shadow {
        box-shadow: 0px 8px 14px #d8ddec;
        height: 50%;
        width: 97%;
        left: 2%;
    }
}

.input-field-shadow {
    position: absolute;
    display: flex;
    width: 99%;
    height: 95%;
    bottom: 0;
    left: 1%;
    z-index: -10;
    box-shadow: 0px 0px 5px #d8ecdf;
    border-radius: 2px;
    transition: all ease 240ms;
}

.submit-container {
    position: absolute;
    z-index: 0;
    margin: 10px;
    right: -10px;
    top: calc(50% - 31px); /* Adjust the position of the button vertically */
}

.submit-btn {
    border: none;
    border-radius: 10px;
    background-color: #a9dac4;
    /* background-color:#858ddfbf; */
    padding: 12px 20px;
    color: white;
    text-transform: uppercase;
    -webkit-appearance: none;
    transition: all ease 240ms;
    cursor: pointer;

    &:hover {
        background-color:#7bb99d;
    }
}

.submit-btn-shadow {
    position: absolute;
    display: flex;
    width: 90%;
    height: 50%;
    bottom: 0;
    left: 5%;
    z-index: -5;
    box-shadow: 0px 2px 10px #a3aadb;
    border-radius: 2px;
}