// Whychooseus.scss
.whychooseus-container {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;

}

.whychooseus-item {
  width: 280px; /* Set the width of the card */
  height: 245px; /* Set the height of the card */
  margin: 0px; /* Adjust the margin as needed */
  padding: 0px; /* Adjust the padding as needed */
  border-radius: 8px; /* Add border radius for rounded corners */
  background-color: #fff; /* Set the background color */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow for depth */

  /* Add additional styling for content alignment, text styles, etc. */
  display: flex;
  align-items: center;

  .logo {
    width: 35px;
    height: 35px;
    margin-bottom: 3px;
    flex-wrap: wrap;
  }

  .content {
    h3 {
      font-size: 1.2rem;
      margin-bottom: 15px; 
    }

    p {
      font-size: 1.2rem; 
      color: #555;
    }
  }
}