
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0; /* Remove default body margin */
}

.App {
  text-align: center;
}

.scrolling-container {
  flex: 1; /* This ensures the content takes up available space */
  display: flex;
  flex-wrap: nowrap; /* Keep items in the same line */
  overflow-x: auto; /* Enable horizontal scrolling if needed */
  padding: 20px;
}

.item-card {
  flex: 0 0 auto; /* Maintain original size, do not grow or shrink */
  width: calc(25% - 10px); /* Adjust card width based on your preference */
  margin-right: 10px; /* Add space between cards */
}

/* Ensure the footer sticks to the bottom */
footer {
  width: 100%; /* Take up the entire horizontal space */
  padding: 2px;
  margin-top: auto;
  background-color: lightgray; /* Add a background color to differentiate the footer */
}
